extends ../sesion/indexSesion.pug

block content

    div.content-login
        form(action="/login" method="POST")
            h2 Iniciar sesi칩n Administrador
            fieldset
                legend Ingresa tus credenciales Administrador:
                
                div.form_input
                    label(for="nombre") Usuario
                    input(type="text" id="nombre" name="username" required)
                
                div.form_input
                    label(for="contrase침a") Contrase침a
                    input(type="password" id="contrase침a" name="password" required)
                
                div.boton-chico
                    button.button(href="" type="submit" value="Login") Entrar
