footer.footer
  .contenedor-footer
    .footer_ayuda
      h5.footer_titulo Ayuda
      ul.ayuda_menu
        li.footer_item
          a(href="#") CAMBIOS Y GARANTÍAS
        li.footer_item
          a(href="#") POLÍTICA DE ENVÍOS
        li.footer_item
          a(href="#") TÉRMINOS Y CONDICIONES
    .footer__contacto
      h5.footer_titulo Contacto
      ul.contacto_menu
        li.footer_item
          a(href="#") SOBRE NOSOTROS
        li.footer_item
          a(href="#") SUCURSALES
  .footer_detalles
    p.detalles_texto 2025 VINTANGE309. Todos los derechos reservados.
