header.header
  div.header_envio
    p.header_texto Envío gratis en tu primera compra 
  .header_logo
    img(src="/img/icons/user.svg", alt="usuario")
    h1.logo_titulo VINTANGE309
    img(src="/img/icons/shopping-cart.svg", alt="carrito")
  nav.header_nav
    ul.nav_menu
      li.nav_item
        a.nav_link(href='#') Inicio
      li.nav_item
        a.nav_link(href='/layout/playera') Playeras
      li.nav_item
        a.nav_link(href='#inicio') Pantalones
      li.nav_item
        a.nav_link(href='#inicio') Chamarras
      li.nav_item
        a.nav_link(href='#inicio') Sudaderas
      li.nav_item
        a.nav_link(href='#inicio') Gorras
      li.nav_item
        a.nav_link(href='#inicio') Accesorios
      li.nav_item
        a.nav_link(href='#') Contacto 