doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title VINTANGE309
        //link(rel="icon" href="/image/icons/favicon.jpeg" type="image/x-icon")
        link(rel="stylesheet", href="/css/layout.css")
        //script(src="")
    body
        include header

        main
            block content 

        include footer